body {
  background-color:black;
  text-align: center;
  color: white;
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

#myCanvas {
  background-color:blue;
  background-size: 400px;
  border-radius: 30px;
  border: 1px solid rgb(255,245,227);
}

.main{
  display: flex;
  text-align: left;
  justify-content: space-around;
}
li{
  font-size= 30px
}

